<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 | coolkidbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://coolkidbot.com/">
    <meta property="og:title" content="404 | coolkidbot">
    <meta property="og:description"
        content="'coolkidbot' offers games like blackjack and double or nothing, a fully functioning economy system, and more. Invite our bot to start playing today!">
    <meta property="og:image" content="https://i.imgur.com/SaafyCC.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/ckb_face.png" />
</head>

<body class="home-body">
    {{!-- {{>header}} --}}
    <div class="loading">
        {{>logo}}
    </div>
    <main class="main-content">
        <div class="notfound">
            {{>404}}
            <div class="container center">
                <h1 class="mainheading">Page Not Found</h1>
                <p class="subheading">Looks like you are lost!</p>
                <div class="buttons">
                    <div class="no-right button-wrapper">
                        <a href="/home"><button type="button" class="button brand default large grow">Head back to home?</button></a>
                    </div>
                </div>
            </div>


        </div>
    </main>
    {{!-- {{>footer}} --}}
</body>

</html>