<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Setup Help | coolkidbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://coolkidbot.com/">
    <meta property="og:title" content="Setup Help | coolkidbot">
    <meta property="og:description"
        content="'coolkidbot' offers games like blackjack and double or nothing, a fully functioning economy system, and more. Invite our bot to start playing today!">
    <meta property="og:image" content="https://i.imgur.com/SaafyCC.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/ckb_face.png" />
</head>

<body>
    {{>header}}
    <div class="loading">
        {{>logo}}
    </div>
    <main class="main-content">
        <div class="help-main">
            <h2 class="help-main-heading">How to setup coolkidbot</h1>
                <p class="help-sub-text">Permission(s) required: <span class="command text permission">manage
                        server</span></p>
                <article>
                    <p class="help-sub-text">This guide is for users looking to setup coolkidbot for their server.<br>
                        No setup is required to use coolkidbot but if you wish to either isolate the bot's functionality
                        to specific channels or allow certain roles to use the bot, then follow this guide to get setup.
                    </p>
                    <h1 class="help-step">1. Use the setup command <span class="command title">>>setup</span> to view
                        your current setup</h1>
                    <p class="help-sub-text">This command will show you your server's current setup. </p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/default_setup.png" alt="Default Setup Menu" class="help-img">
                    </div>
                    <h1 class="help-step">2. Isolate all bot functionality to a group of channels</h1>
                    <p class="help-sub-text">You can accomplish this through discord's built in channel permissions by
                        only allowing the <span class="channel">coolkidbot</span> role to view specific discord
                        channels.<br>
                        More on this can be found over at <a
                            href="https://www.technipages.com/channel-permissions-discord" target="_blank"
                            class="underline">https://www.technipages.com/channel-permissions-discord</a></p>
                    <p class="help-sub-text">However this can take a while if you have a lot channels in your
                        server.<br>
                        You can use command <span class="command text">>>setup all <span class="channel">#all-1</span>
                            <span class="channel">#all-2</span></span> to limit bot
                        functionality to the <span class="channel">#all-1</span> and <span class="channel">#all-2</span>
                        channels.</p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/setup_all.png" alt="Setup Menu For All" class="help-img">
                    </div>
                    <p class="help-sub-text">Now all the bot commands will only work in the <span
                            class="channel">#all-1</span> and <span class="channel">#all-2</span>
                        channels.</p>
                    <h1 class="help-step sub">a. Further isolate raffle to other channels</h1>
                    <p class="help-sub-text">Raffles often tend to get lost amidst all the games and other commands, so
                        it is <em>recommended</em> to further isolate raffles to their own channel.<br>
                        To do this, use command <span class="command text">>>setup raffles <span
                                class="channel">#raffles</span></span> to isolate all raffles to the <span
                            class="channel">#raffles</span> channel.</p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/setup_raffles.png" alt="Setup Menu For Raffles" class="help-img">
                    </div>
                    <p class="help-sub-text">Raffles will now only work in the <span class="channel">#raffles</span>
                        channel while all other commands will work in the <span class="channel">#all-1</span> and <span
                            class="channel">#all-2</span>
                        channels.</p>
                    <p class="help-sub-text">You may skip to step 3 if you are satisfied with your channel setup. This
                        is a good stopping point for setting up channels since raffles and
                        all other commands have been limited to their respective channels.</p>
                    <h1 class="help-step sub">b. Further isolate games to other channels</h1>
                    <p class="help-sub-text">However, you have the option to further isolate games to their own
                        respective channels. <br>To do this, use the command <span class="command text">>>setup games
                            <span class="channel">#games-1</span> <span class="channel">#games-2</span> <span
                                class="channel">#games-3</span></span> to isolate game commands to the <span
                            class="channel">#games-1</span>, <span class="channel">#games-2</span>, and <span
                            class="channel">#games-3</span> channels.</p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/setup_games.png" alt="Setup Menu For Games" class="help-img">
                    </div>
                    <p class="help-sub-text">Games will now only work in the <span class="channel">#games-1</span>,
                        <span class="channel">#games-2</span>, and <span class="channel">#games-3</span>
                        channels and no longer work in the <span class="channel">#all-1</span> and <span
                            class="channel">#all-2</span>
                        channels.
                    </p>

                    <h1 class="help-step">3. Allow certain roles to use the bot</h1>
                    <p class="help-sub-text"> If you want to allow only certain roles to be able to access bot commands,
                        you can do that with the setup command.<br>
                        You can use command <span class="command text">>>setup misc <span class="channel">@role-1</span>
                            <span class="channel">@role-2</span></span> to limit bot
                        functionality for misc. commands to users with the <span class="channel">@role-1</span> and
                        <span class="channel">@role-2</span>
                        roles.</p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/setup_all_roles.png" alt="Setup Menu For All" class="help-img">
                    </div>
                    <p class="help-sub-text">Now only users with the <span class="channel">@role-1</span> and <span
                            class="channel">@role-2</span>
                        roles can access the misc. bot commands.<br>
                    <h1 class="help-step sub">a. Allow certain roles to use the raffle commands</h1>
                    <p class="help-sub-text">You can use the setup command to allow users who don't have the <span
                            class="command text permission">manage
                            server</span> permission to use raffle commands.<br>
                        To do this, use command <span class="command text">>>setup raffles <span
                                class="channel">@role-3</span>
                            <span class="channel">@role-4</span></span> to allow the users with the <span
                            class="channel">@role-3</span> and <span class="channel">@role-4</span>
                        roles to use raffle commands.</p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/setup_raffles_roles.png" alt="Setup Menu For Raffles"
                            class="help-img">
                    </div>
                    <p class="help-sub-text">Users with the <span class="channel">@role-3</span> and <span
                            class="channel">@role-4</span> roles or users with the <span
                            class="command text permission">manage
                            server</span> permission can now use raffle commands.</p>
                    <h1 class="help-step sub">b. Allow certain roles to use the game commands</h1>
                    <p class="help-sub-text">You can use the setup command to allow users with certain roles to use game
                        commands.<br>
                        To do this, use command <span class="command text">>>setup games <span
                                class="channel">@role-1</span>
                            <span class="channel">@role-2</span> <span class="channel">@role-3</span></span> to limit
                        bot functionality to users with the <span class="channel">@role-1</span>, <span
                            class="channel">@role-2</span>, and <span class="channel">@role-3</span>
                        roles to use game commands.</p>
                    <div class="feature-img-container align-left">
                        <img src="/img/help/setup/setup_games_roles.png" alt="Setup Menu For Games" class="help-img">
                    </div>
                    <p class="help-sub-text">Now only users with the <span class="channel">@role-1</span>, <span
                            class="channel">@role-2</span>, and <span class="channel">@role-3</span> roles can use game
                        commands.</p>
                    <h1 class="help-step">4. Reset server settings</h1>
                    <p class="help-sub-text"> You can reset your server's settings with the setup command.<br><strong>You will only be asked for confirmation once.</strong></p>
                    <p class="help-sub-text">Use the command <span class="command text">>>setup reset</span> to reset all settings.<br></p>
                    <p class="help-sub-text">Use the command <span class="command text">>>setup reset games/raffles/misc</span> to reset games/raffles/misc settings.<br></p>
                </article>

                <h1 class="help-step">That concludes the setup guide for coolkidbot</h1>
                <p class="help-sub-text">Need more help with setting up or help with using the bot? Join our <a
                        href="/support" target="_blank" class="underline">support server</a> or check out our other
                    articles.</p>

        </div>
    </main>
    {{>footer}}
</body>
<script src="/js/app.js"></script>

</html>