<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>coolkidbot | Discord Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://coolkidbot.com/">
    <meta property="og:title" content="coolkidbot | Discord Bot">
    <meta property="og:description"
        content="'coolkidbot' offers games like blackjack and double or nothing, a fully functioning economy system, and more. Invite our bot to start playing today!">
    <meta property="og:image" content="https://i.imgur.com/SaafyCC.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/ckb_face.png" />
</head>

<body class="home-body">
    {{>header data=data}}
    <div class="loading">
        {{>logo}}
    </div>
    <div class="parent">
        <div class="logo-left">
            {{>icon_head}}
        </div>
        <div class="container">
            <h1 class='mainheading'>Get more out of Discord with coolkidbot.</h1>
            <p class='subheading'>coolkidbot provides you with an economy, fun games like blackjack, double or nothing,
                poker, and more!</p>
            <div class="buttons">
                <div class="button-wrapper">
                    <button type="button" class="button brand default large grow"
                        onclick="window.open('https://coolkidbot.com/invite','_blank')"><img src="/svg/discord-logo.svg"
                            alt="invite" style="margin-inline-end: 15px;">Add to Discord</button>
                </div>
                <div class="button-wrapper">
                    <button type="button" class="button black default large grow"
                        onclick="window.scrollTo({top: (document.querySelector('.features').offsetTop - 150), behavior: 'smooth'});">See
                        features</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="scroll-container">
        {{>scrolldown}}
    </div> --}}
    <main class="main-content">
        <div class="divider">
            {{>divider}}
        </div>
        <div class="features">
            <h2 class="main-heading">Features</h2>
            <span class="text-divider">━━━━━━━━</span>
            <div class="features-container">
                <div class="feature economy">
                    <div class="feature-img-container">
                        <img src="/img/features/economy.png" alt="Economy Features" class="feature-img">
                    </div>
                    <div class="feature-desc">
                        <h3 class="feature-title">Integrated Economy</h3>
                        <p class="feature-text">Take advantage of our integrated economy system to compete with other
                            members in your discord server!<br>
                            Coins can be earned through various ways. You can request coins from other members of your
                            server, enter in raffles, receive lootboxes, claim hourly bonuses, vote to support us, or
                            simply gamble!<br>
                            With commands to show you the leaderboards for the wealthiest members of your server, both
                            for balance and net worth, start competing to see who can earn the most!
                        </p>
                    </div>
                </div>
                <div class="feature gambling">
                    <div class="feature-img-container">
                        <img src="/img/features/gambling.png" alt="Gambling Features" class="feature-img">
                    </div>
                    <div class="feature-desc">
                        <h3 class="feature-title">Games and Gambling</h3>
                        <p class="feature-text">Gamble and earn coins! Our selection of games include
                            <strong>blackjack</strong> and
                            <strong>double or nothing</strong> with poker to be added soon.
                            You can also see your own statistics using our profile commands or view your friend's stats
                            to see who has the better luck.<br>
                        </p>
                    </div>
                </div>
                <div class="feature badges">
                    <div class="feature-img-container">
                        <img src="/img/features/badges.png" alt="Badge Features" class="feature-img">
                    </div>
                    <div class="feature-desc">
                        <h3 class="feature-title">Tiered and Upgradable Badges</h3>
                        <p class="feature-text">Show off your wealth with badges! Buy the two types of badges, tiered
                            and upgradables, to show them off on your profile. The cheapest badges to get started with
                            are the upgradable badges, but be careful! Upgradable badges double in price per upgrade.
                            Receive special badges from voting rewards and lootboxes (coming soon).
                        </p>
                    </div>
                </div>
                <div class="feature voting">
                    <div class="feature-img-container">
                        <img src="/img/features/vote.png" alt="Voting Features" class="feature-img">
                    </div>
                    <div class="feature-desc">
                        <h3 class="feature-title">Support Rewards</h3>
                        <p class="feature-text">By supporting us through voting on <a class="topgg"
                                onclick="window.open('https://coolkidbot.com/top.gg','_blank')">top.gg</a>, you
                            can receive special rewards such as coins and badges. Earn up to
                            <strong>50,000</strong>💰 by being in the top 3 voters of your server!
                        </p>
                    </div>
                </div>
                <div class="feature reminders">
                    <div class="feature-img-container">
                        <img src="/img/features/reminders.png" alt="Reminder Features" class="feature-img">
                    </div>
                    <div class="feature-desc">
                        <h3 class="feature-title">Get Reminders</h3>
                        <p class="feature-text">Optionally, receive direct messages from coolkidbot when your hourly
                            bonuses become available or when you are able to vote again.</p>
                    </div>
                </div>
                <div class="feature other">
                    <div class="feature-img-container">
                        <img src="/img/features/raffles.png" alt="Raffles and Lootboxes" class="feature-img">
                    </div>
                    <div class="feature-desc">
                        <h3 class="feature-title">Raffles and Lootboxes</h3>
                        <p class="feature-text">Particpate in raffles to win lots of coins! The longer the raffles are, the more coins you can win!<br>Optionally, have a chance to
                            receive lootboxes to earn even more coins!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="invite">
            <h2 class="main-heading">Ready to Get Started?</h2>
            <div class="buttons">
                <div class="button-wrapper">
                    <button type="button" class="button brand default large grow bottom-invite"
                        onclick="window.open('https://coolkidbot.com/invite','_blank')"><img src="/svg/discord-logo.svg"
                            alt="invite" style="margin-inline-end: 15px;">Invite to Discord</button>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
<script src="/js/app.js"></script>

</html>